torch==2.7.1
torchvision
accelerate==1.8.1
ctranslate2==4.6.0
transformers==4.55.2
sentencepiece==0.2.1
tokenizers==0.21.2
safetensors==0.5.3
huggingface-hub==0.34.4
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
pydantic-settings==2.10.1
numpy==2.3.1
requests==2.32.4
tqdm==4.67.1
loguru==0.7.3
python-dotenv==1.1.1
PyYAML==6.0.2
